@font-face {
  font-family: 'BDO Grotesk';
  src: url('/fonts/bdo-grotesk-font-family-1754195517-0/BDOGrotesk-Regular-BF648a656fd543a.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BDO Grotesk';
  src: url('/fonts/bdo-grotesk-font-family-1754195517-0/BDOGrotesk-Bold-BF648a656f312c4.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'BDO Grotesk';
  src: url('/fonts/bdo-grotesk-font-family-1754195517-0/BDOGrotesk-Medium-BF648a656f49882.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'BDO Grotesk', system-ui, sans-serif;
}